<!-- SKILLS PAGE -->
<section id="skills_page">
  <div class="page_title">
    Abilities
  </div>

  <div class="skills_list">

    <ul class="skills_heading">
      <li>
        SKILLS
      </li>
    </ul>

    <ul>
      <li>
        Search Engine Optimisation (SEO)
        <span class="star_gold">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
      </li>
      <li>
        Email Marketing
        <span class="star_gold">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
      </li>
      <li>
        WIKI CMS
        <span class="star_gold">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
      </li>
      <li>
        Responsive design
        <span class="star_gold">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
      </li>
      <li>
        Pay Per Click (PPC) Advertising
        <span class="star_gold">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
      </li>
      <li>
        Social Media Marketing
        <span class="star_grey">&#9733;</span>
        <span class="star_gold">&#9733;&#9733;&#9733;&#9733;</span>
      </li>
      <li>
        Paid Search/SEM
        <span class="star_grey">&#9733;</span>
        <span class="star_gold">&#9733;&#9733;&#9733;&#9733;</span>
      </li>
      <li>
        Stripe API
        <span class="star_grey">&#9733;</span>
        <span class="star_gold">&#9733;&#9733;&#9733;&#9733;</span>
      </li>
      <li>
        Facebook Graph API
        <span class="star_grey">&#9733;</span>
        <span class="star_gold">&#9733;&#9733;&#9733;&#9733;</span>
      </li>
      <li>
        Twitter API
        <span class="star_grey">&#9733;</span>
        <span class="star_gold">&#9733;&#9733;&#9733;&#9733;</span>
      </li>
      <li>
        Cloudinary API
        <span class="star_grey">&#9733;</span>
        <span class="star_gold">&#9733;&#9733;&#9733;&#9733;</span>
      </li>
      <li>
        Conversion optimization
        <span class="star_grey">&#9733;</span>
        <span class="star_gold">&#9733;&#9733;&#9733;&#9733;</span>
      </li>
    </ul>

    <ul>
      <li>
        Cross-browser compatibility
        <span class="star_grey">&#9733;</span>
        <span class="star_gold">&#9733;&#9733;&#9733;&#9733;</span>
      </li>
      <li>
        A/B testing
        <span class="star_grey">&#9733;</span>
        <span class="star_gold">&#9733;&#9733;&#9733;&#9733;</span>
      </li>
      <li>
        WEB analytics
        <span class="star_grey">&#9733;</span>
        <span class="star_gold">&#9733;&#9733;&#9733;&#9733;</span>
      </li>
      <li>
        Display Advertising
        <span class="star_grey">&#9733;&#9733;</span>
        <span class="star_gold">&#9733;&#9733;&#9733;</span>
      </li>
      <li>
        Affiliate Marketing
        <span class="star_grey">&#9733;&#9733;</span>
        <span class="star_gold">&#9733;&#9733;&#9733;</span>
      </li>
      <li>
        WordPress CMS
        <span class="star_grey">&#9733;&#9733;</span>
        <span class="star_gold">&#9733;&#9733;&#9733;</span>
      </li>
      <li>
        Contao CMS
        <span class="star_grey">&#9733;&#9733;</span>
        <span class="star_gold">&#9733;&#9733;&#9733;</span>
      </li>
      <li>
        Adobe Photoshop
        <span class="star_grey">&#9733;&#9733;</span>
        <span class="star_gold">&#9733;&#9733;&#9733;</span>
      </li>
      <li>
        Adobe Illustrator
        <span class="star_grey">&#9733;&#9733;&#9733;</span>
        <span class="star_gold">&#9733;&#9733;</span>
      </li>
      <li>
        UI/UX
        <span class="star_grey">&#9733;&#9733;&#9733;</span>
        <span class="star_gold">&#9733;&#9733;</span>
      </li>
      <li>
        Content Marketing
        <span class="star_grey">&#9733;&#9733;&#9733;</span>
        <span class="star_gold">&#9733;&#9733;</span>
      </li>
      <li>
        Video Marketing
        <span class="star_grey">&#9733;&#9733;&#9733;&#9733;</span>
        <span class="star_gold">&#9733;</span>
      </li>
    </ul>
  </div>

  <div class="skills_list">
    <ul class="skills_heading">
      <li>
        TOOLS
      </li>
    </ul>

    <ul>
      <li>
        CSS(3)
        <span class="star_gold">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
      </li>
      <li>
        HTML(5)
        <span class="star_gold">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
      </li>
      <li>
        Ruby on Rails
        <span class="star_grey">&#9733;</span>
        <span class="star_gold">&#9733;&#9733;&#9733;&#9733;</span>
      </li>
    </ul>

    <ul>
      <li>
        Ruby
        <span class="star_grey">&#9733;&#9733;</span>
        <span class="star_gold">&#9733;&#9733;&#9733;</span>
      </li>
      <li>
        JavaScript
        <span class="star_grey">&#9733;&#9733;</span>
        <span class="star_gold">&#9733;&#9733;&#9733;</span>
      </li>
      <li>
        Jquery
        <span class="star_grey">&#9733;&#9733;</span>
        <span class="star_gold">&#9733;&#9733;&#9733;</span>
      </li>
    </ul>
  </div>

  <div class="skills_list">
    <ul class="skills_heading">
      <li>
        LANGUAGES
      </li>
    </ul>

    <ul>
      <li>
        Lithuanian
        <span class="star_gold">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
      </li>
      <li>
        Russian
        <span class="star_gold">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
      </li>
    </ul>

    <ul>
      <li>
        English
        <span class="star_grey">&#9733;</span>
        <span class="star_gold">&#9733;&#9733;&#9733;&#9733;</span>
      </li>
      <li>
        German
        <span class="star_grey">&#9733;&#9733;</span>
        <span class="star_gold">&#9733;&#9733;&#9733;</span>
      </li>
    </ul>
  </div>
</section>