<!-- SKILLS PAGE -->
<section id="skills_page">
  <div class="page_title">
    Abilities
  </div>

    <div class="skills_list">
    <div class="resume_heading">
      Marketing
    </div>

    <ul>
      <li>
        Search Engine Optimisation (SEO)
        <span class="star_gold">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
      </li>
      <li>
        Email Marketing
        <span class="star_gold">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
      </li>
      <li>
        Social Media Marketing
        <span class="star_grey">&#9733;</span>
        <span class="star_gold">&#9733;&#9733;&#9733;&#9733;</span>
      </li>
      <li>
        Paid Search/SEM
        <span class="star_grey">&#9733;</span>
        <span class="star_gold">&#9733;&#9733;&#9733;&#9733;</span>
      </li>
      <li>
        WEB analytics
        <span class="star_grey">&#9733;</span>
        <span class="star_gold">&#9733;&#9733;&#9733;&#9733;</span>
      </li>
    </ul>

    <ul>
      <li>
        Design (web, mobile)
        <span class="star_grey">&#9733;&#9733;</span>
        <span class="star_gold">&#9733;&#9733;&#9733;</span>
      </li>
      <li>
        Display Advertising
        <span class="star_grey">&#9733;&#9733;</span>
        <span class="star_gold">&#9733;&#9733;&#9733;</span>
      </li>
      <li>
        Affiliate Marketing
        <span class="star_grey">&#9733;&#9733;</span>
        <span class="star_gold">&#9733;&#9733;&#9733;</span>
      </li>
      <li>
        Content Marketing
        <span class="star_grey">&#9733;&#9733;&#9733;</span>
        <span class="star_gold">&#9733;&#9733;</span>
      </li>
      <li>
        Video Marketing
        <span class="star_grey">&#9733;&#9733;&#9733;&#9733;</span>
        <span class="star_gold">&#9733;</span>
      </li>
    </ul>
  </div>

  <div class="skills_list">
    <div class="resume_heading">
      Tools & Techniques
    </div>

    <ul>
      <li>
        CSS(3)
        <span class="star_gold">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
      </li>
      <li>
        HTML(5)
        <span class="star_gold">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
      </li>
      <li>
        WIKI CMS
        <span class="star_gold">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
      </li>
      <li>
        Responsive design
        <span class="star_gold">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
      </li>
      <li>
        Ruby on Rails
        <span class="star_grey">&#9733;</span>
        <span class="star_gold">&#9733;&#9733;&#9733;&#9733;</span>
      </li>
      <li>
        Conversion optimization
        <span class="star_grey">&#9733;</span>
        <span class="star_gold">&#9733;&#9733;&#9733;&#9733;</span>
      </li>
      <li>
        Ruby
        <span class="star_grey">&#9733;&#9733;</span>
        <span class="star_gold">&#9733;&#9733;&#9733;</span>
      </li>
    </ul>

    <ul>
      <li>
        JavaScript
        <span class="star_grey">&#9733;&#9733;</span>
        <span class="star_gold">&#9733;&#9733;&#9733;</span>
      </li>
      <li>
        Jquery
        <span class="star_grey">&#9733;&#9733;</span>
        <span class="star_gold">&#9733;&#9733;&#9733;</span>
      </li>
      <li>
        WordPress CMS
        <span class="star_grey">&#9733;&#9733;</span>
        <span class="star_gold">&#9733;&#9733;&#9733;</span>
      </li>
      <li>
        Contao CMS
        <span class="star_grey">&#9733;&#9733;</span>
        <span class="star_gold">&#9733;&#9733;&#9733;</span>
      </li>
      <li>
        Adobe Photoshop
        <span class="star_grey">&#9733;&#9733;</span>
        <span class="star_gold">&#9733;&#9733;&#9733;</span>
      </li>
      <li>
        Adobe Illustrator
        <span class="star_grey">&#9733;&#9733;&#9733;</span>
        <span class="star_gold">&#9733;&#9733;</span>
      </li>
      <li>
        UI/UX
        <span class="star_grey">&#9733;&#9733;&#9733;</span>
        <span class="star_gold">&#9733;&#9733;</span>
      </li>
    </ul>
  </div>

  <div class="skills_list">
    <div class="resume_heading">
      Languages
    </div>

    <ul>
      <li>
        Lithuanian
        <span class="star_gold">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
      </li>
      <li>
        Russian
        <span class="star_gold">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
      </li>
    </ul>

    <ul>
      <li>
        English
        <span class="star_grey">&#9733;</span>
        <span class="star_gold">&#9733;&#9733;&#9733;&#9733;</span>
      </li>
      <li>
        German
        <span class="star_grey">&#9733;&#9733;</span>
        <span class="star_gold">&#9733;&#9733;&#9733;</span>
      </li>
    </ul>
  </div>
</section>