/* HEADER NAVIGATION */

nav {
	position: absolute;
	z-index: 999;
	background-color: #fff;

	-webkit-box-shadow: 0 0 5px 1px #f0f0f0;
    -moz-box-shadow: 0 0 5px 1px #f0f0f0;
    box-shadow: 0 0 5px 1px #d8d8d8;
}

nav ul {
	width: 100%;
}

nav li {
	padding: 20px;
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	text-align: center;
	border-bottom: 1px solid #f0f0f0;
}

nav.stick {
    position: fixed;
    height: 280px;
    top: 0;
    z-index: 10000;
    margin-top: 20px;
}

nav li a {
	color: #434a4c;
}

nav li a:hover,
#bottom_nav li a:hover {
	color: #6599FF;
}

nav a.nav-active {
    color: #6599FF;
}

#outer_circle {
	width: 25px;
	height: 25px;
	position: absolute;
	top: 18px;
	left: 40px;
	border: 2px solid #394042;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}

#inner_circle {
	width: 15px;
	height: 15px;
	margin: 3px 0 0 3px;
	display: none;
	border: 2px solid #394042;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}

#counter {
	width: 20px;
	height: 20px;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}

/* BOTTOM NAV FOR MOBILE */

#bottom_nav {
	width: 100%;
	position: fixed;
	visibility: hidden;
	bottom: 0;
	z-index: 999;
	background-color: #fff;
	height: 50px;

	-webkit-box-shadow: 0 0 5px 2px #f0f0f0;
    -moz-box-shadow: 0 0 5px 2px #f0f0f0;
    box-shadow: 0 0 5px 2px #d8d8d8;
}

#bottom_nav ul {
	width: 100%;
	padding: 0 20px 0 20px;
}

#bottom_nav li {
	width: 20%;
	display: inline-block;
	padding-top: 18px;
	margin-right: -4px;
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	text-align: center;
}

#bottom_nav li a {
	color: #434a4c;
}

#bottom_nav a.nav-active {
    color: #6599FF;
}

/*------------------------*/

/* HOME PAGE */

#home_page {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
}

#home_page_content {
	max-width: 500px;
	height: 450px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -250px;
	margin-top: -225px;
	border: 0px solid red;
}

.landing_image {
	/*background-image: url("/assets/mouse.jpeg");*/
	background-image: image-url("table3.jpeg");
  	/* Background image is centered vertically and horizontally at all times */
  	background-position: center center;
  	background-repeat: no-repeat;
  	/* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  	background-attachment: fixed;
  	/* This is what makes the background image rescale based
     on the container's size */
  	background-size: cover;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	max-width: 100%;
	height: 100vh;
	z-index: -10;
}

.initials_image {
	width: 150px;
	height: 150px;
	margin: auto;
	margin-bottom: 60px;
	padding: 28px 20px 20px 20px;
	text-align: center;
	color: #fff;
	font-size: 80px;
	font-family: 'Megrim', cursive;
	border: 3px solid #fff;

	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
}

.name_surname {
	margin: auto;
	color: #fff;
	font-size: 45px;
	font-family: 'Lato', sans-serif;
	letter-spacing: 3px;
	font-weight: 900;
	text-transform: uppercase;
	text-align: center;
}

.name_subheader {
	margin: auto;
	color: #fff;
	font-size: 25px;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	text-align: center;
}

.contact_button {
	width: 200px;
	margin: auto;
	margin-top: 60px;
	padding: 15px;
	text-align: center;
	text-transform: uppercase;
	background-color: #383F42;
	font-size: 16px;
	letter-spacing: 1px;
	font-family: 'PT Sans', sans-serif;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	-webkit-transition: box-shadow 150ms linear;
  	-moz-transition: box-shadow 150ms linear;
  	-o-transition: box-shadow 150ms linear;
  	-ms-transition: box-shadow 150ms linear;
  	transition: box-shadow 150ms linear;

  	-webkit-box-shadow: 0 0 5px 1px #f0f0f0;
    -moz-box-shadow: 0 0 5px 1px #f0f0f0;
    box-shadow: 0 0 5px 1px #f0f0f0;
}

a .contact_button {
	color: #fff;
}

a:hover .contact_button {
	-webkit-box-shadow: 0 0 5px 2px #f0f0f0;
    -moz-box-shadow: 0 0 5px 2px #f0f0f0;
    box-shadow: 0 0 5px 2px #f0f0f0;
}

#arrow_down {
	width: 90px;
	height: 60px;
	position: absolute;
	bottom: 0;
	left: 20px;
	background-color: #383F42;
	color: #fff;
	text-align: center;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	-webkit-transition: box-shadow 150ms linear;
  	-moz-transition: box-shadow 150ms linear;
  	-o-transition: box-shadow 150ms linear;
  	-ms-transition: box-shadow 150ms linear;
  	transition: box-shadow 150ms linear;

  	-webkit-box-shadow: 0 0 5px 1px #f0f0f0;
    -moz-box-shadow: 0 0 5px 1px #f0f0f0;
    box-shadow: 0 0 5px 1px #f0f0f0;
}

#arrow_down:hover {
	-webkit-box-shadow: 0 0 5px 2px #f0f0f0;
    -moz-box-shadow: 0 0 5px 2px #f0f0f0;
    box-shadow: 0 0 5px 2px #f0f0f0;
}

#arrow_down img {
	width: 30px;
	padding-top: 23px;
}

/*-------------------------*/

/* RESUME PAGE */

#resume_page {
	background-color: #fff;
	padding: 0 20px 20px 20px;
}

.page_title {
	font-family: 'Lato', sans-serif;
	letter-spacing: 3px;
	font-size: 25px;
	text-transform: uppercase;
	text-align: center;
	color: #394042;
	padding: 70px 0 40px 0;
}

.about_me {
	max-width: 800px;
	font-family: 'Open Sans', sans-serif;
	line-height: 28px;
	color: #394042;
	font-size: 14px;
	text-align: justify;
    text-justify: inter-word;
	margin: auto;
	padding-bottom: 50px;
}

.resume {
	max-width: 800px;
	margin: auto;
}

.resume_heading {
	width: 100%;
	margin-bottom: 30px;
	font-family: 'Lato', sans-serif;
	letter-spacing: 2px;
	font-size: 18px;
	text-transform: uppercase;
	color: #394042;
}

.resume ul {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 0px solid #E2E3E3;
}

.resume ul:last-child {
	margin-bottom: 30px;
	border-bottom: 0;
}

.resume li {
	display: inline-block;
	margin-right: -4px;
}

.empl {
	width: 35%;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 600;
	vertical-align: top;
	color: #74797a;
}

.position_name {
	font-weight: bold;
	font-size: 14px;
	color: #f16164;
}

.company_name {
	font-size: 12px;
	font-weight: 600;
}

.resume_content {
	max-width: 65%;
	color: #394042;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	vertical-align: top;
	line-height: 25px;
}

.work_description {
	font-style: italic;
}

.resume_content.plus {
	width: 80%;
}

/*--------------------*/

/* FOR HIRE */

#for_hire {
	background-color: transparent;
	overflow: hidden;
	padding: 80px 0 80px 0;
}

#for_hire_wrapper {
	max-width: 800px;
	margin: auto;
}

.for_hire_title {
	width: 80%;
	float: left;
	padding: 8px 0 10px 0;
	color: #fff;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 22px;
}

.contact_now_button {
	width: 20%;
	float: right;
	padding: 10px 15px 10px 15px;
	color: #fff;
	font-size: 18px;
	font-family: 'PT Sans', sans-serif;
	text-align: center;
	text-transform: uppercase;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	-webkit-transition: box-shadow 150ms linear;
  	-moz-transition: box-shadow 150ms linear;
  	-o-transition: box-shadow 150ms linear;
  	-ms-transition: box-shadow 150ms linear;
  	transition: box-shadow 150ms linear;

  	-webkit-box-shadow: 0 0 5px 2px #fff;
    -moz-box-shadow: 0 0 5px 2px #fff;
    box-shadow: 0 0 5px 1px #f0f0f0;
}

a:hover .contact_now_button {
	-webkit-box-shadow: 0 0 5px 2px #fff;
    -moz-box-shadow: 0 0 5px 2px #fff;
    box-shadow: 0 0 5px 2px #f0f0f0;
}

/* -------------------------*/

/* SKILLS */

#skills_page {
	background-color: #fff;
	padding-bottom: 30px;
	color: #394042;
	overflow: hidden;
}

.skills_list {
	max-width: 800px;
	margin: auto;
	margin-bottom: 40px;
	padding: 20px;
}

.skills_list ul {
	width: 50%;
	display: inline-block;
	vertical-align: top;
	margin-right: -4px;
}

.skills_list li {
	font-family: 'Open Sans', sans-serif;
	color: #394042;
	font-size: 14px;
	padding: 0 15px 10px 0;
}

.star_gold,
.star_grey {
	float: right;
	font-size: 16px;
}

.star_gold {
	color: #CC9900;
}

/*------------------------*/

/* WHY ME PAGE */

#why_me_page {
	background-color: #fff;
}

.why_me_reasons {
	max-width: 800px;
	font-family: 'Open Sans', sans-serif;
	color: #394042;
	line-height: 25px;
	font-size: 14px;
	margin: auto;
	padding: 20px;
}

.why_me_reasons li {
	width: 33.3333333%;
	padding: 0 25px 50px 0px;
	display: inline-block;
	vertical-align: top;
	margin-right: -4px;
	text-align: justify;
    text-justify: inter-word;
}

.reasons_title {
	display: block;
	margin-bottom: 10px;
	text-align: center;
	font-family: 'PT Sans', sans-serif;
	letter-spacing: 3px;
	font-size: 16px;
	text-transform: uppercase;
	color: #394042;
}

/*---------------------*/

/* RECOMMENDATIONS */

#recommendations {
	background-color: #E7E6E6;
}

.referral ul {
	max-width: 800px;
	margin: auto;
	padding-bottom: 50px;
}

.referral li {
	width: 50%;
	display: inline-block;
	vertical-align: top;
	padding: 0 20px 0 20px;
	margin-right: -4px;
	font-family: 'Open Sans', sans-serif;
	color: #394042;
	line-height: 25px;
	font-size: 14px;
	text-align: justify;
    text-justify: inter-word;
}

.rec_person,
.position {
	display: block;
	margin-top: 10px;
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	font-weight: bold;
	line-height: normal;
}

.rec_person a {
	color: #394042;
}

.rec_person a:hover {
	text-decoration: underline;
}

.position {
	font-style: italic;
	margin-top: 0;
	font-size: 12px;
	font-weight: normal;
}

/* ------------------------*/

/* CONTACT PAGE */

#contact_page {
	background-color: #707C80;
	padding: 0 20px 50px 20px;
}

.page_title.contact {
	color: #fff;
}

.contact_container {
	max-width: 800px;
	margin: auto;
}

ul.contact_container li {
	display: inline-block;
	margin-right: -4px;
	vertical-align: top;
	font-family: 'Open Sans', sans-serif;
	color: #ccc;
}

.contact_me {
	width: 40%;
	font-size: 12px;
	padding-right: 20px;
}

.contact_form {
	width: 60%;
}

.form_field {
	margin-bottom: 20px;
}

.field,
.field_message {
	width: 100%;
	padding: 15px;
	font-size: 12px;
	color: #ccc;
	background-color: #383F42;
	border: none;
}

.field_message {
	width: 100%;
	height: 150px;
}

.form_button {
	width: 150px;
	height: 45px;
	float: right;
	cursor: pointer;
	background-color: #383F42;
	color: #ccc;
	font-size: 14px;
	font-weight: bold;
	border: none;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-transition: background 150ms linear;
  	-moz-transition: background 150ms linear;
  	-o-transition: background 150ms linear;
  	-ms-transition: background 150ms linear;
  	transition: background 150ms linear;
}

.form_button:hover {
	background-color: #4b5254;
}

ul.contact_details li {
	display: block;
	margin-bottom: 8px;
}

ul.contact_details img {
	margin-right: 5px;
}

/* --------------- */

/* FOOTER */

#footer {
	padding: 50px 0 10px 0;
	background-color: #F6F6F6;
	text-align: center;
	font-family: 'PT Sans', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	color: #676C6F;
}

/* ---------------------*/

/* MEDIA QUERIES */

@media (max-width: 1070px) {

   #bottom_nav {
	visibility: visible;
	}

	nav {
		display: none;
	}

   nav li {
   	display: none;
   }

   #arrow_down {
   	display: none;
   }

   .resume_content {
	max-width: 100%;
	}
  
  .resume ul {
  	margin-bottom: 10px;
  }

  .resume li {
  	width: 100%;
	display: block;
	margin: 0 0 10px 0;
	padding: 0;
  }

  .skills_list {
	margin-bottom: 10px;
	}

  .skills_list ul {
	width: 100%;
	}

  #for_hire {
  	padding: 50px 20px 50px 20px;
  }

  .for_hire_title {
  	width: 100%;
  	float: none;
  }

  .contact_now_button {
  	width: 230px;
  	float: none;
  	margin: auto;
  	margin-top: 40px;
  }

  .why_me_reasons li {
	width: 50%;
	padding: 0 20px 50px 0px;
	}
}

/*-------------------*/