/* HEADER NAVIGATION */

nav {
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	background-color: #f6f6f6;
}

nav ul {
	max-width: 960px;
	height: 100%;
	margin: auto;
	text-align: center;
}

nav li {
	display: inline-block;
	margin-right: -4px;
	padding: 20px;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-size: 12px;
}

/*nav.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
    margin-top: 0px;
}*/

nav li a {
    color: #707C80;
}

/*a.nav-active {
    color: #434a4c;
}*/

#outer_circle {
	width: 25px;
	height: 25px;
	position: absolute;
	top: 18px;
	left: 40px;
	border: 2px solid #394042;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}

#inner_circle {
	width: 15px;
	height: 15px;
	margin: 3px 0 0 3px;
	display: none;
	border: 2px solid #394042;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}

#counter {
	width: 20px;
	height: 20px;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	border: 1px solid red;
}

/*------------------------*/

/* HOME PAGE */

#home_page {
	/*margin-top: 60px;*/
	width: 100%;
	padding-bottom: 50px;
	background-color: #707C80;
}

.initials_image {
	padding: 50px;
	text-align: center;
}

.name_surname {
	text-align: center;
}

.contact_button {
	width: 200px;
	margin: auto;
	margin-top: 60px;
	margin-bottom: 0px;
	padding: 15px;
	text-align: center;
	text-transform: uppercase;
	background-color: #383F42;
	font-size: 15px;
	font-family: 'PT Sans', sans-serif;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}

a .contact_button {
	color: #fff;
}

/*-------------------------*/

/* RESUME PAGE */

#resume_page {
	background-color: #fff;
	padding-bottom: 50px;
}

.page_title {
	font-family: 'Lato', sans-serif;
	letter-spacing: 3px;
	font-size: 25px;
	text-transform: uppercase;
	text-align: center;
	color: #394042;
	padding: 50px 0 50px 0;

}

.about_me {
	max-width: 960px;
	font-family: 'Open Sans', sans-serif;
	line-height: 28px;
	color: #646f73;
	font-size: 14px;
	text-align: justify;
    text-justify: inter-word;
	margin: auto;
	padding-bottom: 50px;
}

.resume {
	width: 960px;
	margin: auto;
}

.resume ul {
	margin-bottom: 30px;
}

.resume ul:last-child {
	margin-bottom: 0px;
}

.resume li {
	display: inline-block;
	margin-right: -4px;
}

.resume_title {
	font-family: 'Lato', sans-serif;
	letter-spacing: 2px;
	vertical-align: top;
	font-size: 15px;
	text-transform: uppercase;
	color: #394042;
	width: 20%;
}

.resume_content {
	width: 60%;
	padding: 0 20px 0 20px;
	vertical-align: top;
	color: #394042;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;;
}

.position_name {
	font-weight: bold;
	font-size: 14px;
	color: #f16164;
}

.company_name {
	font-size: 12px;
	font-weight: 600;
}

.work_description {
	margin-top: 10px;
	font-style: italic;
}

.resume_content.plus {
	width: 80%;
}

.resume_dates {
	width: 20%;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 600;
	vertical-align: top;
	color: #74797a;
}

/*--------------------*/

/* FOR HIRE */

#for_hire {
	background-color: #707C80;
	overflow: hidden;
	padding: 80px 0 80px 0;
}

#for_hire_wrapper {
	max-width: 960px;
	margin: auto;
}

.for_hire_title {
	width: 80%;
	float: left;
	padding: 8px 0 10px 0;
	color: #fff;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 22px;
}

.contact_now_button {
	width: 20%;
	float: right;
	padding: 10px 15px 10px 15px;
	color: #fff;
	font-size: 18px;
	font-family: 'PT Sans', sans-serif;
	text-align: center;
	text-transform: uppercase;
	border: 1px solid #fff;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-transition: background 150ms linear;
  	-moz-transition: background 150ms linear;
  	-o-transition: background 150ms linear;
  	-ms-transition: background 150ms linear;
  	transition: background 150ms linear;
}

a:hover .contact_now_button {
	background-color: #383F42;
	border: 1px solid #383F42;
}

/* -------------------------*/

/* SKILLS */

#skills_page {
	background-color: #fff;
	padding-bottom: 30px;
	color: #394042;
	overflow: hidden;
}

.skills_list {
	width: 960px;
	max-width: 960px;
	margin: auto;
	margin-bottom: 40px;
}

.skills_list ul {
	width: 40%;
	display: inline-block;
	vertical-align: top;
	margin-right: -4px;
	
}

.skills_list li {
	font-family: 'Open Sans', sans-serif;
	color: #394042;
	font-size: 14px;
	padding: 0 15px 10px 15px;
}

.skills_list ul.skills_heading {
	width: 20%;
	height: 100%;
	font-family: 'Lato', sans-serif;
	letter-spacing: 2px;
	vertical-align: top;
	font-size: 15px;
	color: #394042;
}

.star_gold,
.star_grey {
	float: right;
	font-size: 16px;
}

.star_gold {
	color: #CC9900;
}

.graph_wrapper {
	max-width: 900px;
	margin: auto;
	margin-bottom: 30px;
	padding-bottom: 30px;
}

ul.graph_name {
	margin-bottom: 20px;
}

ul.graph_name li {
	width: 50%;
	display: inline-block;
	margin-right: -4px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	color: #707C80;
}

.skills {
	width: 45%;
	height: 100%;
	display: inline-block;
	position: relative;
	border-left: 2px solid #707C80;
	border-bottom: 2px solid #707C80;
}

.tools {
	width: 45%;
	height: 100%;
	display: inline-block;
	float: right;
	position: relative;
	border-left: 2px solid #707C80;
	border-bottom: 2px solid #707C80;
}

.languages {
	width: 45%;
	height: 100%;
	display: inline-block;
	position: relative;
	border-left: 2px solid #707C80;
	border-bottom: 2px solid #707C80;
}

.api {
	width: 45%;
	height: 100%;
	position: relative;
	display: inline-block;
	float: right;
	border-left: 2px solid #707C80;
	border-bottom: 2px solid #707C80;
}

.graphs {
	border: 0px solid blue;
}

.graph_skills, .graph_tool,
.graph_language, .graph_api {
	padding: 5px 15px 5px 15px;
	font-family: 'PT Sans', sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
}

.graph_skills.web_design {
	width: 80%;
	background-color: #A3C2C5;
}

.graph_skills.digital_marketing {
	width: 75%;
	background-color: #486B6D;
}

.graph_skills.analytics {
	width: 65%;
	background-color: #719299;
}

.graph_skills.conversion {
	width: 68%;
	background-color: #2E4D50;
}

.graph_language.lithuanian {
	width: 100%;
	background-color: #719299;
}

.graph_language.russian {
	width: 100%;
	background-color: #A3C2C5;
}

.graph_language.english {
	width: 88%;
	background-color: #446A6B;
}

.graph_language.german {
	width: 60%;
	background-color: #2E4D50;
}

.graph_tool.html_css {
	width: 100%;
	background-color: #A3C2C5;
}

.graph_tool.js {
	width: 65%;
	background-color: #486B6D;
}

.graph_tool.rails {
	width: 90%;
	background-color: #719299;
}

.graph_tool.image_editor {
	width: 60%;
	background-color: #2E4D50;
}

.graph_api.facebook {
	width: 60%;
	background-color: #719299;
}

.graph_api.twitter {
	width: 70%;
	background-color: #A3C2C5;
}

.graph_api.stripe {
	width: 65%;
	background-color: #446A6B;
}

.graph_api.cloudinary {
	width: 75%;
	background-color: #2E4D50;
}

.dots {
	width: 100%;
	position: absolute;
	bottom: -10px;
}

.dots li {
	width: 20%;
	height: 20px;
	position: relative;
	display: inline-block;
	margin-right: -4px;
}

.dot {
	width: 9px;
	height: 9px;
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #707C80;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}

.dot_name {
	width: 100px;
	position: absolute;
	left: -45px;
	bottom: -20px;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	text-align: center;
	color: #707C80;
}
/*------------------------*/

/* WHY ME PAGE */

#why_me_page {
	background-color: #fff;
}

.why_me_reasons {
	max-width: 960px;
	font-family: 'Open Sans', sans-serif;
	color: #707C80;
	line-height: 25px;
	font-size: 14px;
	margin: auto;
}

.why_me_reasons li {
	width: 33.3333333%;
	padding: 0 20px 50px 20px;
	display: inline-block;
	vertical-align: top;
	margin-right: -4px;
	text-align: justify;
    text-justify: inter-word;
}

.reasons_title {
	display: block;
	margin-bottom: 10px;
	text-align: center;
	font-family: 'PT Sans', sans-serif;
	letter-spacing: 3px;
	font-size: 16px;
	text-transform: uppercase;
	color: #394042;
}

/*---------------------*/

/* RECOMMENDATIONS */

#recommendations {
	background-color: #E7E6E6;
}

.referral ul {
	max-width: 760px;
	margin: auto;
	padding-bottom: 50px;
}

.referral li {
	width: 50%;
	display: inline-block;
	vertical-align: top;
	padding: 0 20px 0 20px;
	margin-right: -4px;
	font-family: 'Open Sans', sans-serif;
	color: #394042;
	line-height: 25px;
	font-size: 14px;
	text-align: justify;
    text-justify: inter-word;
}

.rec_person,
.position {
	display: block;
	margin-top: 10px;
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	font-weight: bold;
	line-height: normal;
}

.rec_person a {
	color: #394042;
}

.rec_person a:hover {
	text-decoration: underline;
}

.position {
	font-style: italic;
	margin-top: 0;
	font-size: 12px;
	font-weight: normal;
}

/* ------------------------*/

/* CONTACT PAGE */

#contact_page {
	background-color: #707C80;
	padding-bottom: 50px;
}

.page_title.contact {
	color: #fff;
}

.contact_container {
	max-width: 960px;
	margin: auto;
}

ul.contact_container li {
	display: inline-block;
	margin-right: -4px;
	vertical-align: top;
	font-family: 'Open Sans', sans-serif;
	color: #ccc;
}

.contact_me {
	width: 40%;
	font-size: 12px;
}

.contact_form {
	width: 60%;
}

.form_field {
	margin-bottom: 20px;
}

.field,
.field_message {
	width: 100%;
	padding: 15px;
	font-size: 12px;
	color: #ccc;
	background-color: #383F42;
	border: none;
}

.field_message {
	width: 100%;
	height: 150px;
}

.form_button {
	width: 150px;
	height: 45px;
	float: right;
	cursor: pointer;
	background-color: #383F42;
	color: #ccc;
	font-size: 14px;
	font-weight: bold;
	border: none;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-transition: background 150ms linear;
  	-moz-transition: background 150ms linear;
  	-o-transition: background 150ms linear;
  	-ms-transition: background 150ms linear;
  	transition: background 150ms linear;
}

.form_button:hover {
	background-color: #4b5254;
}

ul.contact_details li {
	display: block;
	margin-bottom: 8px;
}

ul.contact_details img {
	margin-right: 5px;
}

/* --------------- */

/* FOOTER */

#footer {
	padding: 50px 0 10px 0;
	background-color: #F6F6F6;
	text-align: center;
	font-family: 'PT Sans', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	color: #676C6F;
}

/* ---------------------*/

#screen {
	position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    overflow:hidden;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: #F6F6F6;
}